*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root
{
  --body-color: #d5f3ff;
  --body-background:#51b4e8;
  --card-color:#9de3ff;
  --card-background:#9dccfc;
  --botton-color: #38a0d8;
  --hard-color:#026eed;
  --ligth-color:#56a5f1;
}

/* DARK-MODE */

.dark{
  --body-color: #53388f;
  --body-background:#2f2958;
  --card-color:#5836b4;
  --card-background:#362a84;
  --botton-color: #7d69f1;
  --hard-color:#ffffff;
  --ligth-color:#ffffff;
  transition: 0.5s;
}

html{
  background: radial-gradient(var(--body-color) 0%, var(--body-background) 100%);
}

body{
  font-family: lato, helvetica, sans-serif;
  background: radial-gradient(var(--body-color) 0%, var(--body-background) 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

ul{
  list-style: none;
}

h1{
  font-size:55px;
  font-weight: 300;
}

h2{
  font-size: 19px;
  font-weight: bold;
}

button{
  cursor: pointer;
}

#root{
  display: flex;
  width: 100vw;
  justify-content:center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  height: 100vh;
  padding: 1em;
}


.weather-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width:480px;
  width: 100%;
  padding: 2rem 1rem 1rem; 
  height: 250px;
  border-radius:20px;
  background: linear-gradient(var(--card-color) 0%, var(--card-background) 100%);
  box-shadow: 12px 8px 12px rgba(0, 0, 0, 0.25)
}

.weather-image img{
  width:100%;
  height: 100%;
  object-fit: cover;
}

.weather-image{
  max-width:180px;
  width: 100%;
}

.weather-aside h1{
  color:var(--hard-color);
  text-align: left;
  
}

.weather-aside{
  max-width: 240px;
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

.weather-aside ul li{
  color: var(--ligth-color);
  font-size: 13px;
  margin-bottom: 5px;
}


.weather-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.weather-footer{
  display: flex;
  justify-content: space-between;
 align-items: center;
 min-height: 40px;
}

.weather-footer h2{
  width:70%;
  color:var(--hard-color)
}

.weather-footer p{
  text-align: right;
  font-size: 13px;
  color:var(--hard-color)
}

.btn-primary{
  background-color: var(--botton-color);
  width: 178px;
  height: 38px;
  color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 12px 8px 12px rgba(0, 0, 0, 0.25)
}

.btn-primary:hover{
  background-color: #56a5f1;
  transition: 0.2;
}

.weather-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2rem;
  position: relative;
  width: 100%;
}

/* SEARCH */

.weather-search{
  display: flex;
  max-width: 480px;
  width: 100%;
  gap: 5px;
  background-color: var(--body-background);
  padding: 0.5rem;
  border-radius:8px;
  box-shadow: 12px 8px 12px rgba(0, 0, 0, 0.25)
}

.weather-input{
  background-color:var(--body-background);
  border: none;
  color: #fff;
  width: 100%;
}

.weather-input::placeholder{
  color: #ffffffb9;
}

.weather-input:focus{
  outline: none;
}


.search-icon{
  color: #fff;
  cursor: pointer;
}

.weather-title{
  color: #fff;
  align-self: flex-start;
}

/* TOGGLE-MODE */

.toggle-weather{
  position: relative;
  position: absolute;
  right: 10px;
  cursor: pointer;
  width:50px;
  height: 20px;
  border-radius:25px;
  background: var(--body-background);
  transition: 0.5s;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
              inset 0 8px 8px rgba(0, 0, 0, 0.1),
              inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

.toggle-weather .toggle{
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom,var(--body-color),var(--body-background));
  border-radius:50%;
  transform: scale(0.9);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
              inset 0 4px 4px rgba(255,255,255,0.1),
              inset 0 -4px 4px rgba(255,255,255,0.1);
  transition: 0.5s;
}
.toggle-weather.dark .toggle{
  left: 30px;
}

/* ==LOADER== */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.loader{
  display: flex;
  justify-content:center;
  align-items:center;
  background: radial-gradient(var(--body-color) 0%, var(--body-background) 100%);
  width: 100%;
  position: fixed;
  z-index: 100;
  height: 100%;
}

/* SHOW ERROR */

.error{
  display:flex;
  justify-content:center;
  align-items: center;
  color: #fff;
  border: 1px solid red;
  background-color:rgba(255, 0, 0, 0.4);
  font-size: 12px;
  margin: 0 auto;
  width: 100%;
  max-width: 480px;
  padding: 2em 1em;
  border-radius:0.8em;
  text-align: center;
}

.error_title{
  margin-left: 0.2em;
}

.bx{
  font-size: 30px;
}



/* BREAKPOINTS */

@media(min-width:789px){
  #root{
    justify-content: space-evenly;
    max-width: 800px;
  }

  .weather-card{
    width: 480px;
    height: 300px;
    padding: 1rem;
  }

  .weather-aside{
    width:240px;
  }

  .weather-aside h1{
    font-size:95px;
  }

  .weather-aside ul li{
    font-size: 16px;
    font-weight:bold;
    margin-bottom: 5px;
  }

  .weather-image img{
    width:100%;
    text-align: center;
  }

  .weather-image{
    padding:1rem;
    width: 210px;
  }

  .weather-footer h2{
    font-size: 23px;

  }

  .weather-footer p{
    font-size:18px;
    font-weight: 500;
  }

  .weather-header{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
  }

  .weather-search{
    width: 480px;
  }

  .weather-input{
    width: 100%;
  }

  .toggle-weather{
    position: absolute;
    right: 40px
  }

}

@media(min-width:340px){
  h1{
    font-size:80px
  }
}